-Dmaven.repo.local=${session.rootDirectory}/.mvn/local-repo
-Daether.lrm.enhanced.splitRemoteRepository=true
-Daether.remoteRepositoryFilter.prefixes=true
-Daether.remoteRepositoryFilter.prefixes.basedir=${session.rootDirectory}/.mvn/rrf/
-Daether.remoteRepositoryFilter.groupId=true
-Daether.remoteRepositoryFilter.groupId.basedir=${session.rootDirectory}/.mvn/rrf/
--strict-checksums
-Daether.checksums.algorithms=SHA-512,SHA-1,MD5
-Daether.artifactResolver.postProcessor.trustedChecksums.scope=all
-Daether.trustedChecksumsSource.sparseDirectory=true
-Daether.trustedChecksumsSource.sparseDirectory.basedir=${session.rootDirectory}/.mvn/artifact-checksums
-Daether.trustedChecksumsSource.sparseDirectory.originAware=false
-Daether.artifactResolver.postProcessor.trustedChecksums=true
-Daether.artifactResolver.postProcessor.trustedChecksums.checksumAlgorithms=SHA-512
-Daether.artifactResolver.postProcessor.trustedChecksums.failIfMissing=true
