name: Java CI

on:
  push:
    branches: [ '*' ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'zulu'
        cache: 'maven'
    - name: Build with Maven
      run: mvn clean -B -U verify
  deploy:
    if: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'zulu'
        cache: 'maven'
        server-id: cloudsmith-deploy
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - name: Build with Maven
      run: mvn clean -B -U deploy -Pdeploy-snapshot,-docker-enabled -DskipTests -Dinvoker.skip=true
      env:
        MAVEN_USERNAME: ${{ secrets.MAVEN_CD_USER }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_CD_PASS }}
